#body, .projectsParagraph {
    background-color: #141414;
}

.list-group-item, #projects p {
    background-color: #141414 !important;
    border-color: dimgray !important;
}

.workParagraph, .projectsParagraph{
    color: white;
}

.workDesc {
    color: white;
}

.header {
    color: white;
}

.aboutMe {
    background-color: #222222 !important;
}

.paper {
    background-color: #090B27;
}

.badge-green {
    background-color: transparent;
    border: 1px solid green;
    color: green;
}
.badge-purple {
    background-color: transparent;
    border: 1px solid rebeccapurple;
    color: rebeccapurple;
}
.badge-blue {
    background-color: transparent;
    border: 1px solid royalblue;
    color: royalblue;
}
.badge-orange {
    background-color: transparent;
    border: 1px solid orange;
    color: orange;
}
.badge-red {
    background-color: transparent;
    border: 1px solid rgb(200, 0, 0);
    color: rgb(200, 0, 0);
}
.badge-black {
    background-color: transparent;
    border: 1px solid rgb(110, 110, 110);
    color: rgb(110, 110, 110);
}
.badge-magenta {
    background-color: transparent;
    border: 1px solid magenta;
    color: magenta;
}
.badge-yellow {
    color: yellow;
    background-color: transparent;
    border: 1px solid yellow;
}

ol.carousel-indicators li.active {
  background-color: white;
}

#contact a:hover {
    color: white;
    text-decoration: none;
}