@font-face {
    font-family: 'Hattori_Hanzo';
    src: url('Hattori_Hanzo-webfont.eot');
    src: url('Hattori_Hanzo-webfont.eot?#iefix') format('embedded-opentype'),
        url('Hattori_Hanzo-webfont.woff') format('woff'),
        url('Hattori_Hanzo-webfont.ttf') format('truetype'),
        url('Hattori_Hanzo-webfont.svg#hattori_hanzolight') format('svg');
}

* {
    font-family: "Century Gothic", "Hattori_Hanzo", "Avenir";
}

html, body {
    overflow-x: hidden; /*Prevents white space on smaller windows*/
}

#updateMsgBackdrop {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000CC;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    position: fixed;
    display: block;
    z-index: 997; /*one less than #updateMsg*/
}
#updateMsgBackdrop:hover {
    cursor: pointer;
}
#updateMsg {
    display: block;
    position: fixed;
    z-index: 998;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 30%;
    background-color: white;
    padding: 1rem;
    text-align: right;
    border-radius: 1.5rem;
}
#updateMsgXBtn {
    background-color: transparent;
    border: none;
    color: #e16832;
    font-size: 2rem;
    margin-bottom: 2rem;
}
#updateMsg p {
    text-align: center;
    font-size: 1.3rem;
}

#sig, #hamburger, .navAboutMe, .navExperience, .navAwards, .navContact, #NW1, #NW, #fed, #verizon {
    cursor: pointer;
}

/*Navbar---------------------------------------------------*/
.switch {
    position: relative;
    display: block;
    width: 50px;
    height: 28px;
    margin: 18px 0 0 18px;
    float: left;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: black 1px solid;
    border-radius: 34px;
    -webkit-transition: .1s;
    transition: .1s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border: black 1px solid;
    border-radius: 50%;
    -webkit-transition: .1s;
    transition: .1s;
}

input:checked + .slider {
    border: white 1px solid;
    background-color: transparent;
}

input:checked + .slider:before {
    transform: translateX(20px);
    border: none;
    background-color: white; 
}


#hamburger {
    width: 35px;
    height: 20px;
    position: relative;
    margin: 18px;
}
#hamburger span { /*The three lines*/
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: dimgrey;
    left: 0;
    transition: .5s;
}
/*Closed menu*/
#hamburger #top {
    top: 0px; /*top*/
}
#hamburger #middle1, #hamburger #middle2 {
    top: 12px; /*middle*/
}
#hamburger #bottom {
    top: 24px; /*bottom*/
}
/*Opened menu*/
#hamburger.x span{
    background: #e16832;
}
#hamburger.x #top {
    top: 12px; /*move to middle*/
    transform: rotate(135deg);
}
#hamburger.x #middle1 {
    transform: rotate(45deg);
}
#hamburger.x #middle2 {
    transform: rotate(-45deg);
}
#hamburger.x #bottom {
    top: 12px; /*move to middle*/
    transform: rotate(-135deg);
}
.dropdown {
    float: right;
    position: relative;
    display: block;
}
.navList {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 200px;
    padding-top: 15px;
    border-radius: 24px 0;
}
.navList a {
    color: lightgrey !important;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
}
.navList a:hover {
    color: white !important;
    text-decoration: none;
}
/*End navbar---------------------------------------------------*/

@media screen and (min-width: 1799px) { /*XXL*/
    .header {
        font-size: 36px;
    }
    
    .padding {
        padding: 0 10% 0 10%;
    }
    
    .jumbotron {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .landing {
        background-image: url("images/landing_page/keyboard.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 850px;
    }
    
    .paper {
        margin: 0 10% 0 10%;
        padding: 2.5% 2.5% 6% 2.5%;
        background-color: #282a36;
        min-width: 70%;
        border-radius: 20px;
    }
    .paper p {
        font-family: "Courier", "Consolas";
        color: white;
        font-size: 14px;
    }
    
    .workLogo {
        width: 150px;
    }
    
    #project-container {
    margin: 0 5% 0 5%;
    }
} /*XXL*/

@media screen and (max-width: 1799px) { /*XL*/
    .header {
        font-size: 36px;
    }
    
    .padding {
        padding: 0 10% 0 10%;
    }
    
    .jumbotron {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .landing {
        background-image: url("images/landing_page/keyboard.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 750px;
    }
    
    .paper {
        margin: 0 10% 0 10%;
        padding: 2.5% 2.5% 6% 2.5%;
        background-color: #282a36;
        min-width: 70%;
        border-radius: 20px;
    }
    .paper p {
        font-family: "Courier", "Consolas";
        color: white;
        font-size: 14px;
    }
    
    .workLogo {
        width: 150px;
    }
    
    #project-container {
    margin: 0 5% 0 5%;
    }
} /*XXL*/

@media screen and (max-width: 1399px) { /*full-size*/
    .header {
        font-size: 36px;
    }
    
    .padding {
        padding: 0 10% 0 10%;
    }
    
    .jumbotron {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .landing {
        background-image: url("images/landing_page/keyboard.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
    
    .paper {
        margin: 0 10% 0 10%;
        padding: 2.5% 2.5% 6% 2.5%;
        background-color: #282a36;
        min-width: 70%;
        border-radius: 20px;
    }
    .paper p {
        font-family: "Courier", "Consolas";
        color: white;
        font-size: 14px;
    }
    
    .workLogo {
        width: 150px;
    }
    
    #project-container {
    margin: 0 5% 0 5%;
    }
} /*full-size*/

@media screen and (max-width: 999px) { /*large*/
    .header {
        font-size: 36px;
    }
    
    .padding {
        padding: 0 10% 0 10%;
    }
    
    .jumbotron {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .landing {
        background-image: url("images/landing_page/keyboard.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
    }
    
    .paper {
        margin: 0 10% 0 10%;
        padding: 2.5% 2.5% 6% 2.5%;
        background-color: #282a36;
        min-width: 70%;
        border-radius: 20px;
    }
    .paper p {
        font-family: "Courier", "Consolas";
        color: white;
        font-size: 14px;
    }
    
    .workLogo {
        width: 150px;
    }
    
    #project-container {
    margin: 0 5% 0 5%;
    }
} /*large*/

@media screen and (max-width: 850px) { /*medium*/
    .header {
        font-size: 30px;
    }
    
    .padding {
        padding: 0 5% 0 5%;
    }
    
    .landing {
        background-image: url("images/landing_page/keyboard.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }
    
    .paper {
        margin: 0 5% 0 5%;
        padding: 1% 1% 4% 1%;
        background-color: #282a36;
        min-width: 70%;
        border-radius: 20px;
    }
    .paper p {
        font-family: "Courier", "Consolas";
        color: white;
        font-size: 13px;
    }
    .workLogo {
        width: 125px;
    }
    
    #project-container {
    margin: 0 2% 0 2%;
    }
} /*medium*/

@media screen and (max-width: 600px) { /*small*/
    .header {
        font-size: 26px;
    }
    
    .padding {
        padding: 0 1% 0 1%;
    }
    
    .landing {
        background-image: url("images/landing_page/keyboard.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
    
    #aboutMe {
        padding-top: 14px;
    }
    .switch {
        margin-left: 5px;
    }
    
    .paper {
        margin: 0 1% 0 1%;
        padding: 1% 1% 4% 1%;
        background-color: #282a36;
        min-width: 70%;
        border-radius: 20px;
    }
    .paper p {
        font-family: "Courier", "Consolas";
        color: white;
        font-size: 12px;
    }
    .workLogo {
        width: 100px;
    }
    
    #project-container {
    margin: 0;
    }
} /*small*/

#sig {
    display: block;
    margin: 8% auto 8% auto;
    width: 65%;
}
#downAngle {
    width: 4%;
    position: sticky;
    bottom: 10%;
    left: 48%;
}

#downAngle0, #downAngle1,  #downAngle2, #downAngle3, #downAngle4, #downAngle5 {
    width: 2%;
    position: sticky;
    bottom: 10%;
    left: 48%;
    transition: .4s;
}
#downAngle0.flipped, #downAngle1.flipped, #downAngle2.flipped, #downAngle3.flipped, #downAngle4.flipped, #downAngle5.flipped {
    transform: rotate(180deg);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
#navbar {
    z-index: 1;
}
#navbar a {
  float: right;
  display: block;
  color: darkgrey;
  text-align: center;
  padding: 8px 15px;
  text-decoration: none;
}

.tagPurple { /*Javascript visual format*/
    color: #ff5bb9;
    font-family: "Courier", "Consolas";
}
.tagGreen {
    color: #4df06a;
    font-family: "Courier", "Consolas";
}
.tagOrange {
    color: orange;
    font-family: "Courier", "Consolas";
}
.tagBlue {
    color: dodgerblue;
    font-family: "Courier", "Consolas";
}
.tagBlue:hover {
    color: dodgerblue;
    text-decoration: none;
}

#indent {
    font-family: "Courier", "Consolas";
    margin-left: 5%;
}

/*Custom badge colors*/
.badge-green {
    background-color: green;
    border: 1px solid green;
    color: white;
}
.badge-purple {
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    color: white;
}
.badge-blue {
    background-color: royalblue;
    border: 1px solid royalblue;
    color: white;
}
.badge-orange {
    background-color: orange;
    border: 1px solid orange;
    color: white;
}
.badge-red {
    background-color: rgb(200, 0, 0);
    border: 1px solid rgb(200, 0, 0);
    color: white;
}
.badge-black {
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(50, 50, 50);
    color: white;
}
.badge-magenta {
    background-color: magenta;
    border: 1px solid magenta;
    color: white;
}
.badge-yellow {
    background-color: yellow;
    border: 1px solid yellow;
    color: black;
}

#awards, #projects, #contact, footer { /*Space between each section*/
    margin-top: 5%;
}

.workTitle {
    font-weight: bold;
}
.workDesc {
    display: inline-block;
    margin-left: 2%;
}

#review {
    font-style: italic;
}
#reviewAuthor {
    float: right;
}

#projects p {
    padding: 1px 10px 5px 10px;
    border: 1px lightgrey solid;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

/*
.ongoingProjectsContainer {
    position: relative;
}

.paperText {
    position: absolute;
    top: 34px;
    left: 44px;
    color: white;
}
*/

.carousel-control-prev, .carousel-control-next {
    transform: scale(.5);
}

ol.carousel-indicators li {
  background-color: grey;
}

ol.carousel-indicators li.active {
  background-color: black;
}

.button {
    width: 10%;
    height: 10%;
}

#contact a {
    font-size: 18px;
    color: darkgrey;
    text-decoration: none;
}
#contact a:hover {
    color: black;
    text-decoration: none;
}

.tooltiptextCSS {
    visibility: hidden;
    background-color: #e16832;
    color: white;
    border-radius: 6px;
    text-align: center;
    padding: 2px;
    z-index: 1;
    font-size: 14px;
    position: absolute;
    width: 250px;
    left: 50%;
    margin-left: -20%; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltipCSS:hover .tooltiptextCSS {
    visibility: visible;
}

footer {
    font-size: 14px;
    padding: 2% 0 2% 0;
    border-top: 1px dashed lightgrey;
    color: grey;
    text-align: center;
}