#body, .projectsParagraph {
    background-color: #141414;
}

.list-group-item, #projects p {
    background-color: #141414 !important;
    border-color: dimgray !important;
}

.workParagraph, .projectsParagraph{
    color: white;
}

.workDesc {
    color: white;
}

.header {
    color: white;
}

.aboutMe {
    background-color: #222222 !important;
}

.paper {
    background-color: #090B27;
}

ol.carousel-indicators li.active {
  background-color: white;
}