* {
    font-family: "Century Gothic", "Avenir", "Futura";
}

html, body {
    /*overflow-x: hidden; /*Prevents white space on the right in smaller windows*/
}

@media screen and (min-width: 850px) { /*full size*/
    .padding {
        padding: 0 10% 0 10%;
    }
    
    #navHamburger, .navList {
        display: none;
    }
    
    .landing {
        background-image: url("keyboard.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
    
    .paper {
        margin: 0 10% 0 10%;
        padding: 2.5% 2.5% 10% 2.5%;
        background-color: #282a36;
        min-width: 70%;
        border-radius: 20px;
    }
    .paper p {
        font-family: "Courier", "Consolas";
        color: white;
        font-size: 14px;
    }
}

@media screen and (max-width: 850px) { /*medium*/
    .padding {
        padding: 0 5% 0 5%;
    }
    
    #navHamburger, .navList {
        display: none;
    }    
    
    .landing {
        background-image: url("keyboard.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }
    
    .paper {
        margin: 0 5% 0 5%;
        padding: 1% 1% 5% 1%;
        background-color: #282a36;
        min-width: 70%;
        border-radius: 20px;
    }
    .paper p {
        font-family: "Courier", "Consolas";
        color: white;
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) { /*Small*/
    .padding {
        padding: 0 1% 0 1%;
    }
    
    #navHamburger { /*Makes hamburger menu visible*/
        display: contents;
        font-size: 200%;
        color: darkgray;
    }
    .navLinks { /*Hides navbar links*/
        display: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .navList {
        display: none;
        position: absolute;
        right: 0;
        background-color: rgba(0,0,0,0.3);
        min-width: 200px;
        padding: 30px 30px;
        z-index: 1;
    }
    .navList a {
        color: white;
        text-decoration: none;
        font-size: 24px;
    }
    .navList a:hover {
        color: black;
        text-decoration: none;
    }
    
    .landing {
        background-image: url("keyboard.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
    
    .paper {
        margin: 0 1% 0 1%;
        padding: 1% 1% 5% 1%;
        background-color: #282a36;
        min-width: 70%;
        border-radius: 20px;
    }
    .paper p {
        font-family: "Courier", "Consolas";
        color: white;
        font-size: 12px;
    }
}

.sig {
    display: block;
    margin: 8% auto 8% auto;
    width: 65%;
}

#downAngle {
    width: 4%;
    position: sticky;
    bottom: 10%;
    left: 48%;
}

.navLinks a {
    padding-left: 15px;
    color: darkgray;
}
.navLinks a:hover {
    color: black;
    text-decoration: none;
}

.aboutMe {
    background-color: darkgray;
}

.tagPurple {
    color: #ff5bb9;
    font-family: "Courier", "Consolas";
}

.tagGreen {
    color: #4df06a;
    font-family: "Courier", "Consolas";
}

.tagOrange {
    color: orange;
    font-family: "Courier", "Consolas";
}

#indent {
    font-family: "Courier", "Consolas";
    margin-left: 5%;
}

.button {
    width: 30%;
    height: 30%;
}

footer {
    margin-top: 5%;
    font-size: 14px;
    padding: 3% 0 3% 0;
    background-color: lightgrey;
}

footer a {
    color: black;
}

footer a:hover {
    color: magenta;
    text-decoration: none;
}